pipeline/call-Web-API.json
{
	"name": "call-Web-API",
	"properties": {
		"activities": [
			{
				"name": "Call API",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Git User Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://api.github.com/users/@{variables('UserName')}/repos",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						" user-agent": "gister"
					},
					"datasets": [
						{
							"referenceName": "cosmos_customers_csv",
							"type": "DatasetReference"
						}
					]
				}
			},
			{
				"name": "Git User Name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "UserName",
					"value": "cmadusankahw"
				}
			},
			{
				"name": "Store Retrived Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Call API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "GitHubRESTRepos",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "GitHUBRepos",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"UserName": {
				"type": "String",
				"defaultValue": "cmadusankahw"
			}
		},
		"folder": {
			"name": "ETL"
		},
		"annotations": []
	}
}