pipeline/cosmosDB-etl.json
{
	"name": "cosmosDB-etl",
	"properties": {
		"activities": [
			{
				"name": "Execute CosmosDB Data Extraction",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set YearQuarter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "cosmosdb-data-extraction",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"YearQuarter": {
							"value": "@variables('YearQuarter')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Raw to Curated",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Validation File Existance",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "cosmos-transformations",
						"type": "NotebookReference"
					},
					"parameters": {
						"yearQuarter": {
							"value": {
								"value": "@variables('YearQuarter')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkpool1",
						"type": "BigDataPoolReference"
					}
				}
			},
			{
				"name": "Validation File Existance",
				"type": "Validation",
				"dependsOn": [
					{
						"activity": "Execute CosmosDB Data Extraction",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "cosmoscustomerscsv",
						"type": "DatasetReference"
					},
					"timeout": "7.00:00:00",
					"sleep": 10
				}
			},
			{
				"name": "Sample wait",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Curated to Processerd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 5
				}
			},
			{
				"name": "Curated to Processerd",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Flatten Customer to Single file",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Flatten SocialMedia to Single file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "cosmos_curated_to_processed",
						"type": "DataFlowReference",
						"parameters": {
							"YearQuarter": {
								"value": "'@{variables('YearQuarter')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Load to DW",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Sample wait",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "data/curated/cosmosdb/@{variables('YearQuarter')}",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 2
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "processed_customer_csv",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set YearQuarter",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "YearQuarter",
					"value": ""
				}
			},
			{
				"name": "Flatten Customer to Single file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Raw to Curated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "data/curated/cosmosdb/@{variables('YearQuarter')}/customer.csv",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 2
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "curated_customer_csv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "flattened_customer_csv",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Flatten SocialMedia to Single file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Raw to Curated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "data/curated/cosmosdb/@{variables('YearQuarter')}/socialmedia.csv",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 2
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "curated_socialmedia_csv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "flattened_socialmedia_csv",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"YearQuarter": {
				"type": "String",
				"defaultValue": "1801"
			}
		},
		"folder": {
			"name": "ETL"
		},
		"annotations": []
	}
}