pipeline/cosmosDB-etl.json
{
	"name": "cosmosDB-etl",
	"properties": {
		"activities": [
			{
				"name": "Execute CosmosDB Data Extraction",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set IPAScore",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "cosmosdb-data-extraction",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Spark Transformations",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Validation File Existance",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "cosmos-transformations",
						"type": "NotebookReference"
					},
					"parameters": {
						"IPAScore": {
							"value": "8",
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkpool1",
						"type": "BigDataPoolReference"
					}
				}
			},
			{
				"name": "Set IPAScore",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set YearQuarter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "IPAScore",
					"value": ""
				}
			},
			{
				"name": "Validation File Existance",
				"type": "Validation",
				"dependsOn": [
					{
						"activity": "Execute CosmosDB Data Extraction",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "cosmoscustomerscsv",
						"type": "DatasetReference"
					},
					"timeout": "7.00:00:00",
					"sleep": 10
				}
			},
			{
				"name": "Sample wait",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 5
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Execute Spark Transformations",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Load to DW",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Sample wait",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "data/curated/cosmosdb/@{variables('YearQuarter')}/customer",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 2
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "processedcustomercsv",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set YearQuarter",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "YearQuarter",
					"value": ""
				}
			}
		],
		"variables": {
			"IPAScore": {
				"type": "String",
				"defaultValue": "8"
			},
			"YearQuarter": {
				"type": "String",
				"defaultValue": "1801"
			}
		},
		"folder": {
			"name": "ETL"
		},
		"annotations": []
	}
}