pipeline/cosmosdb-data-extraction.json
{
	"name": "cosmosdb-data-extraction",
	"properties": {
		"activities": [
			{
				"name": "Cosmos to ADL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Year Quarter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CosmosDbMongoDbApiSource",
						"additionalColumns": [
							{
								"name": "Year",
								"value": {
									"value": "@substring(string(variables('YearQuarter')),0,1)",
									"type": "Expression"
								}
							},
							{
								"name": "Quarter",
								"value": {
									"value": "@substring(string(variables('YearQuarter')),1,2)",
									"type": "Expression"
								}
							}
						],
						"batchSize": 100,
						"filter": {
							"value": "{\"jobId\" : '1801'}",
							"type": "Expression"
						},
						"cursorMethods": {
							"limit": 1000
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "as-syanpse-ws-WorkspaceDefaultStorage",
							"type": "LinkedServiceReference"
						},
						"path": "ascdlfs/data/stage"
					},
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Info",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "as-syanpse-ws-WorkspaceDefaultStorage",
								"type": "LinkedServiceReference"
							},
							"path": "ascdlfs/logging"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['acxiomIpaScore']"
								},
								"sink": {
									"name": "acxiomIpaScore",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['acxiomNetworthIndicator']"
								},
								"sink": {
									"name": "acxiomNetworthIndicator",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['employment']['empStatusCode']"
								},
								"sink": {
									"name": "empStatusCode",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['employment']['empStatusCodeSupport']"
								},
								"sink": {
									"name": "empStatusCodeSupport",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['employment']['empTypeCode']"
								},
								"sink": {
									"name": "empTypeCode",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['employment']['studentStatusCode']"
								},
								"sink": {
									"name": "studentStatusCode",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['ficoScore']"
								},
								"sink": {
									"name": "ficoScore",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['interestLevels']['fashionWeek']"
								},
								"sink": {
									"name": "fashionWeek",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['interestLevels']['musicFestival']"
								},
								"sink": {
									"name": "musicFestival",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['interestLevels']['nflFootball']"
								},
								"sink": {
									"name": "nflFootball",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['interestLevels']['shoppedOnline']"
								},
								"sink": {
									"name": "shoppedOnline",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['interestLevels']['soccer']"
								},
								"sink": {
									"name": "soccer",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['interestLevels']['summerOlympics']"
								},
								"sink": {
									"name": "summerOlympics",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['interestLevels']['winterOlympics']"
								},
								"sink": {
									"name": "winterOlympics",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['jobId']"
								},
								"sink": {
									"name": "jobId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['living']['householdComposition']"
								},
								"sink": {
									"name": "householdComposition",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['living']['householdDesignation']"
								},
								"sink": {
									"name": "householdDesignation",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['living']['householdIncomeCode']"
								},
								"sink": {
									"name": "householdIncomeCode",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['living']['householdOwnCode']"
								},
								"sink": {
									"name": "householdOwnCode",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['living']['householdSizeCode']"
								},
								"sink": {
									"name": "householdSizeCode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['living']['livingArrangementCode']"
								},
								"sink": {
									"name": "livingArrangementCode",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['living']['livingWithRelativeCode']"
								},
								"sink": {
									"name": "livingWithRelativeCode",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['living']['region']"
								},
								"sink": {
									"name": "region",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ngFicoScore']"
								},
								"sink": {
									"name": "ngFicoScore",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['personalInfo']['age']"
								},
								"sink": {
									"name": "age",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['personalInfo']['collegeStudentCode']"
								},
								"sink": {
									"name": "collegeStudentCode",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['personalInfo']['educationCode']"
								},
								"sink": {
									"name": "educationCode",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['personalInfo']['genderCode']"
								},
								"sink": {
									"name": "genderCode",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['personalInfo']['maritalStatusCode']"
								},
								"sink": {
									"name": "maritalStatusCode",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['personalInfo']['postalCode']"
								},
								"sink": {
									"name": "postalCode",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['personalInfo']['raceCode']"
								},
								"sink": {
									"name": "raceCode",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['personalInfo']['raceCodeSupport']"
								},
								"sink": {
									"name": "raceCodeSupport",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['personalInfo']['stateCode']"
								},
								"sink": {
									"name": "stateCode",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['personalInfo']['stateCodeSupport']"
								},
								"sink": {
									"name": "stateCodeSupport",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['personalInfo']['stateRespType']"
								},
								"sink": {
									"name": "stateRespType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['socialMedias']['facebook']"
								},
								"sink": {
									"name": "facebook",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['socialMedias']['instagram']"
								},
								"sink": {
									"name": "instagram",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['socialMedias']['snapchat']"
								},
								"sink": {
									"name": "snapchat",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['socialMedias']['twitter']"
								},
								"sink": {
									"name": "twitter",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['socialMedias']['youtube']"
								},
								"sink": {
									"name": "youtube",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['userId']"
								},
								"sink": {
									"name": "userId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Year']"
								},
								"sink": {
									"name": "Year",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Quarter']"
								},
								"sink": {
									"name": "Quarter",
									"type": "String"
								}
							}
						],
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "cosmosdbcustomers",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "cosmoscustomerscsv",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set Year Quarter",
				"description": "Comma separated years to ingest",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "YearQuarter",
					"value": "1801"
				}
			},
			{
				"name": "Cosmos to ADL_json",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Year Quarter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CosmosDbMongoDbApiSource",
						"additionalColumns": [
							{
								"name": "Year",
								"value": {
									"value": "@substring(string(variables('YearQuarter')),0,1)",
									"type": "Expression"
								}
							},
							{
								"name": "Quarter",
								"value": {
									"value": "@substring(string(variables('YearQuarter')),1,2)",
									"type": "Expression"
								}
							}
						],
						"batchSize": 100,
						"filter": {
							"value": "{\"jobId\" : '1801'}",
							"type": "Expression"
						},
						"cursorMethods": {
							"limit": 1000
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "as-syanpse-ws-WorkspaceDefaultStorage",
							"type": "LinkedServiceReference"
						},
						"path": "ascdlfs/data/stage"
					},
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Info",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "as-syanpse-ws-WorkspaceDefaultStorage",
								"type": "LinkedServiceReference"
							},
							"path": "ascdlfs/logging"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "cosmosdbcustomers",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "cosmoscustomersjson",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"Year": {
				"type": "string",
				"defaultValue": "1801"
			}
		},
		"variables": {
			"YearQuarter": {
				"type": "String",
				"defaultValue": "20221"
			}
		},
		"folder": {
			"name": "Data-Extraction"
		},
		"annotations": []
	}
}